$color-1: 	    #fff;
$color-2: 	    #000;

$color-3: 	    #261b45;
$color-4: 	    #d5641d;
$color-5: 	    #4f4b4b;

$color-6: 	    #d04944;
$color-7: 	    #3f3f3f;



$color-error: 	#f44336;


$gradient-1: linear-gradient(119.17deg, rgba(197, 10, 55, 0.77) 8.95%, rgba(209, 95, 88, 0) 93.31%), rgba(38, 27, 69, 0.85);
$gradient-2: linear-gradient(90.55deg, #f39b17 1.54%, rgba(192, 153, 95, 0) 75.68%), #d04944;
$gradient-3: linear-gradient(90.55deg, #d04944 1.54%, rgba(192, 153, 95, 0) 75.68%), #f39b17;