.work {
  margin-top: 100px;

  .content {
  }

  .parent{
  }

  .cards {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(275px, 355px));
    // grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    // grid-column-gap: 35px;
    // grid-row-gap: 60px;

    // @include distribute-on-circle(5, 540px, 300px, false);
    background: url('../img/img_sun.png') no-repeat center center / contain;

    // margin: 5em auto 0;
    border: solid 5px tomato;
    // position: relative;
    // width: 100vw;
    // height: 100vh;

    // width: 100%;
    // height: 765px;
    // padding-bottom: 100%;

    // border: 1px solid rgba(0,0,0,0.1);
    // border-radius: 50%;
    // transform: rotate(0deg);

    // position: relative;
    // width: 540px; // 24em;
    // height: 540px; //24em;
    // // padding: 2.8em;
    //   /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    // border: dashed 2px tomato;
    // border-radius: 50%;
    margin: auto;


    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      // margin: -50px;
      transform: translate(-50%, -50%);
    }

  }

  .card {
    display: flex;
    align-items: center;
    // width: 380px;

    // display: block;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // width: 4em;
    // height: 4em;
    // margin: -50px;

    // position: absolute;
    // top: -50px;
    // left: (765/2 - 100/2) * 1px;

    // position: absolute;
    // top: 50%;
    // left: 50%;

    &:nth-child(2) {
      // transform: rotate(180deg) translate(25em) rotate(-180deg);
      // top: -50px;
      // left: (765/2 - 350/2) * 1px;
      // transform: rotate(-25deg) translate(270px) rotate(25deg);
    }

    &:nth-child(3) {
      // transform: rotate(135deg) translate(25em) rotate(-135deg);
      // transform: rotate(45deg) translate(270px) rotate(-45deg);

    }

    &:nth-child(4) {
      // transform: rotate(90deg) translate(25em) rotate(-90deg);
      // transform: rotate(90deg) translate(270px) rotate(-90deg);
      // flex-direction: column;
    }

    &:nth-child(5) {
      // transform: rotate(45deg) translate(25em) rotate(-45deg);
      // transform: translate(-270px);
      // transform: rotate(135deg) translate(270px) rotate(-135deg);
    }

    &:nth-child(6) {
      // transform: rotate(0deg) translate(25em) rotate(0deg);
      // transform: rotate(205deg) translate(270px) rotate(-205deg);
    }

    &__avatar {
      width: 100px;
      height: 100px;

      // &:nth-child(1) {
      //   margin-left: 30px;
      // }

      // &:nth-child(2) {
      //   margin-left: 30px;
      // }

      // &:nth-child(3) {
      //   // margin-left: 30px;
      // }

      // &:nth-child(4) {
      //   margin-right: 30px;
      // }

      // &:nth-child(5) {
      //   margin-right: 30px;
      // }
    }

    &__avatar {
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__body {
    }

    &__header {
    }

    &__title {
      @include font-primary(20px, $color-1, 400);
    }

    &__text {
      @include font-primary(16px, $color-1, 300, 24px);
      margin-top: 10px;
    }
  }

  &__container {
  }
}


/*
https://codepen.io/dbpas/pen/LGudb
https://codepen.io/soybisonte/pen/ZyZxbg
https://stackoverflow.com/questions/12813573/position-icons-into-circle

http://jsfiddle.net/9eNqY/
https://css-tricks.com/snippets/sass/placing-items-circle/
https://codepen.io/HugoGiraudel/pen/vEJXGm

https://codepen.io/soybisonte/pen/ZyZxbg






https://nplanner.ru/
https://codepen.io/HugoGiraudel/pen/vEJXGm
https://hugogiraudel.com/2013/04/02/items-on-circle/
https://www.freecodecamp.org/news/css-shapes-explained-how-to-draw-a-circle-triangle-and-more-using-pure-css/
https://stackoverflow.com/questions/44358067/evenly-distribute-points-on-a-circle
http://kodhus.com/newsite/put-items-evenly-circles-circumference/
http://jsfiddle.net/codepo8/tgEx6/8/
*/
