.work {
  margin-top: 100px;

  .content {
  }

  .parent{
  }

  .cards {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(275px, 355px));
    // grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    // grid-column-gap: 35px;
    // grid-row-gap: 60px;

    @include distribute-on-circle(5, 50em, 6em, false);
    background: url('../img/img_sun.png') no-repeat center center / contain;

    margin: 5em auto 0;
    border: solid 5px tomato;
    // position: relative;
    // width: 100vw;
    // height: 100vh;

    // width: 100%;
    // height: 765px;
    // padding-bottom: 100%;

    // border: 1px solid rgba(0,0,0,0.1);
    // border-radius: 50%;
    // transform: rotate(0deg);

  }

  .card {
    display: flex;
    align-items: center;
    width: 380px;

    // position: absolute;
    // top: -50px;
    // left: (765/2 - 100/2) * 1px;

    // position: absolute;
    // top: 50%;
    // left: 50%;

    &:nth-child(1) {
      // transform: rotate(180deg) translate(25em) rotate(-180deg);
      // top: -50px;
      // left: (765/2 - 350/2) * 1px;
    }

    &:nth-child(2) {
      // transform: rotate(135deg) translate(25em) rotate(-135deg);

    }

    &:nth-child(3) {
      // transform: rotate(90deg) translate(25em) rotate(-90deg);
    }

    &:nth-child(4) {
      // transform: rotate(45deg) translate(25em) rotate(-45deg);
    }

    &:nth-child(5) {
      // transform: rotate(0deg) translate(25em) rotate(0deg);
    }

    &__avatar {
      width: 100px;
      height: 100px;

      // &:nth-child(1) {
      //   margin-left: 30px;
      // }

      // &:nth-child(2) {
      //   margin-left: 30px;
      // }

      // &:nth-child(3) {
      //   // margin-left: 30px;
      // }

      // &:nth-child(4) {
      //   margin-right: 30px;
      // }

      // &:nth-child(5) {
      //   margin-right: 30px;
      // }
    }

    &__avatar {
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__body {
    }

    &__header {
    }

    &__title {
      @include font-primary(20px, $color-1, 400);
    }

    &__text {
      @include font-primary(16px, $color-1, 300, 24px);
      margin-top: 10px;
    }
  }

  &__container {
  }
}
