.calculation {
  // background: url('../img/web1.svg') no-repeat 0% 0% / auto;
  height: 100vh;
  position: relative;

  // padding-top: 140px;

  .info {
    // background: url('../img/web1.png') no-repeat 0% 0% / auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // max-width: 300px;
    // transform: translate(50px);
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    position: relative;



    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../img/web1.svg') no-repeat 0% 0% / auto;
      // z-index:-1;
    }
  }

  .heading {

    &__title {
      @include font-primary(30px, $color-3, 800);
      text-align: center;
    }
  }

  .content {
    margin-top: 20px;

    &__text {
      @include font-primary(18px, $color-3, 400, 27px);

      &_colored {
        @include font-primary(18px, $color-4, 500, 27px);
      }
    }
  }

  .action {
    margin-top: 45px;

    &__text {
      @include font-primary(18px, $color-1, 500);
      text-transform: uppercase;
      position: relative;
      z-index: 300;
    }

    &__button {
      display: block;
      position: relative;
      width: 100%;
      max-width: 280px;
      border: 1px solid $color-7;
      border-radius: 34px;
      padding: 20px;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
      background: $gradient-2;
      transition: all 0.3s;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(100px);
        background: $gradient-2;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 34px;
        background: $gradient-3;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }



  &__container {
    display: flex;
    justify-content: flex-end;
  }
}