.footer {
  // margin-top: 150px;
  padding: 15px 0;
  background: url('../img/bg_fox-on-moon.png') no-repeat 50% 100% / auto;

  .action {
    width: 100%;
    max-width: 300px;

    &__text {
      @include font-primary(18px, $color-1, 500);
      text-transform: uppercase;
      position: relative;
      z-index: 300;
    }

    &__button {
      display: block;
      position: relative;
      width: 100%;
      border: 1px solid $color-7;
      border-radius: 34px;
      padding: 20px;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
      background: $gradient-2;
      transition: all 0.3s;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(100px);
        background: $gradient-2;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 34px;
        background: $gradient-3;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }
  }

  .social {
    margin-top: 20px;

    &__list {
      display: flex;
    }

    &__item {

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid $color-4;

      &:hover {
        .social__svg {
          fill: $color-4;
        }
      }
    }

    &__svg {
      width: 30px;
      height: 30px;
      fill: $color-3;
      transition: all 0.25s;
    }
  }

  .copyright {
    margin-top: 20px;

    &__text {
      @include font-primary(20px, $color-5, 300);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 585px;
  }
}






// #svg {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

// p {
//   position: fixed;
//   top: 50%;
//   left: 10%;
//   background: black;
//   color: white;
//   cursor: pointer;
//   z-index: 1;
//   padding: 10px;
// }
